body{
    font-family: sans-serif;
    text-align: center;
}
#divInputs{
    display: flex;
    flex-direction: column;
}
input{
    width: 100px;
    margin: auto;
}

button{
    width: 80px;
    margin: auto;
}
img{
    margin-top: 10px;
    align-self: center;
    width: 120px;

}
.oculto{
    display: none;
}