body h1{
    font-size: 45px;
    align-items: center;
    font-family: sans-serif;
    justify-content: center;
    display: contents;
    display: grid;
}
img {
   
    
}
* {
    
    opacity: 1.0;
    background-image: url(http://3.bp.blogspot.com/-e8dU_SOE7U4/Ud0Xv_VS8CI/AAAAAAAABPc/lg4-Kmg-N_I/s1600/deathn.jpg);
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;

}
p {
    color:white
}
table {
    color:white
}
h1 {
    color:white
}
a {
    font-size: 55px;
    color:darkred
}
form {
    color: white
}