body {
    background-image: url(https://scontent.xx.fbcdn.net/v/t1.15752-9/462348365_506058929079720_3102841546473415525_n.jpg?stp=dst-jpg_p480x480&_nc_cat=111&ccb=1-7&_nc_sid=0024fc&_nc_ohc=f6UAtK3MFhkQ7kNvgHO_ViA&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.xx&_nc_gid=AaX5SR3aAwqoRCZiKL86FLJ&oh=03_Q7cD1QFCMWU6FZQfAvMjmextmFaqzRKfLtgYMJawJC82fMhm8g&oe=673B60E3);
    background-repeat: no-repeat;
    background-size: cover;
}   
.container {
    margin: 100px 0 0 200px;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.container img{
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgba (255, 255, 255, 0.6);
    transition: all ease-in-out 0.5s;
}
.container img:hover {
    width: 50%;
    size: cover;

}